body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dateSelector .react-datepicker-wrapper input {
  border: 1px solid rgba(0, 0, 0, 0.342);
  padding: 10px 10px;
  border-radius: 5px;
  width: 20% !important;
}

.hourSelector .react-time-picker__wrapper {
  border: 1px solid rgba(0, 0, 0, 0.342);
  padding: 3px 3px;
  border-radius: 5px;
  width: 20% !important;
}